body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  text-align: center;
}

a {
  color: blue;
}

h1 a {
}

h1 {
  font-size: 1.5em;
}

#icon {
  float: left;
}

img {
  border: 0;
}

form {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.3em;
  font-weight: bold;
  margin: 0 0 0.6em 0;
}

ul {
  list-style: square;
}

li {
  margin: 5px 0;
}

code, pre {
  font-family: "Consolas", "Courier New", monospace;
}

pre {
  font-size: 12px;
  color: black;
  max-width: 790px;
  margin: 0.5em 0em;
  padding: 0.5em;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: auto;
}

code {
  font-size: 14px;
}

blockquote {
  margin: 0;
  padding: 0.5em;
  border-left: 5px solid gray;
}

#wrapper {
  margin: auto;
  text-align: left;
  max-width: 800px;
  padding: 0.8em;
}

#header {
  text-align: left;
  margin-bottom: 1em;
  width: 100%;
}

#header a {
  text-decoration: none;
}

#nav {
  padding: 10px 0px 10px 0px;
  font-weight: bold;
}

#nav ul {
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav li {
  display: inline;
  margin: 10px 5px;
  font-size: 20px;
}

#search {
  display: inline;
}

#search form {
  display: inline;
}

#search button {
}

#search input {
  width: 100px;
}

#bread_crumb {
  margin: 0px auto;
  text-align: left;
}

#bread_crumb ol {
  padding: 20px 0px;
  margin: 0px;
  list-style: none;
}

#bread_crumb ol li {
  display: inline;
  font-size: 14px;
}

#bread_crumb ol li:before {
  content: " > ";
}

#bread_crumb ol li:first-child:before {
  content: "";
}

.article {
  font-size: 15px;
  margin: 0px 0px 30px 0px;
}

.article .title {
  font-size: normal;
  text-align: left;
  padding: 0;
  margin-bottom: 1.2em;
  line-height: 1.6
}
.article .title a {
  text-decoration: none;
}
.article .body {
  text-align: left;
  margin-bottom: 1em;
  line-height: 1.8;
}

.article .body img {
  max-width: 790px;
}

@media screen and (max-width: 767px) {
  #nav li {
    display: inline;
    font-size: 16px;
  }

  .article .body img {
    width: 85%;
  }
}

.article .footer {
  padding: 0;
  text-align: right;
}

.article .footer ul.tags {
  display: inline;
  list-style-type: none;
}

.article .footer ul.tags li.tag {
  display: inline;
}

.article .footer ul.tags li.tag:before {
  content: ", ";
}

.article .footer ul.tags li.tag:first-child:before {
  content: " ";
}

.article .footer .created_at {
  display: inline;
  margin-left: 0.5em;
}

.article .footer .comment {
  display: inline;
  margin-left: 0.5em;
}

.article .footer .edit {
  display: inline;
  margin-left: 0.5em;
}

.article form {
  text-align: left;
}

#footer {
  clear: both;
  margin: 0 auto;
  text-align: center;
  padding: 1em 0em;
}

#footer .poweredby {
  text-align: center;
}

.icon {
  vertical-align: middle;
  border: none;
  margin: 0 0.6em 0.3em 0;
}

label.label {
  font-weight: bold;
  text-align: left;
}
label.checkbox {
  font-weight: normal;
}

input.text_field {
  font-size: 14px;
  padding: 5px;
}
input.text_field_small {
  font-size: 14px;
}
input.text_field_mini {
  font-size: 22px;
  padding: 5px;
}

textarea {
  padding: 5px;
}
textarea.text_area {
  height: 400px;
}

#article_body_editor {
  font-size: 14px;
  height: 400px;
  border: 1px solid #999999;
}

.notice {
  background: #eeeeee;
  padding: 10px 15px;
  margin: 10px 0px;
  border-top: solid 1px #0b53c1;
  border-bottom: solid 1px #0b53c1;
}

.warn {
  background: #ffeeee;
  padding: 10px 15px;
  margin: 10px 0px;
  border-top: solid 1px red;
  border-bottom: solid 1px red;
}

ul.pager {
  text-align: center;
}

ul.pager li {
  display: inline;
  margin: 0px 5px;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-table;
}

ul.comments {
  list-style: none;
  padding: 0;
}

ul.comments .comment {
  margin: 0px 30px 30px 0px;
}

ul.comments .comment .body {
  margin-bottom: 0.5em;
}

ul.comments .comment .footer {
  text-align: right;
}

ul.comments .comment .footer .name {
  display: inline;
  margin-left: 0.5em;
}

ul.comments .comment .footer .created_at {
  display: inline;
  margin-left: 0.5em;
}

h4.comment {
  margin: 0px 30px 0px 0px;
}

#comment_form {
  margin: 0px 30px 0px 0px;
}

.button {
}
